@import "tailwindcss";

@theme {
  --color-team-primary: var(--team-primary, #E53935);
  --color-team-secondary: var(--team-secondary, #FFD54F);
}

:root {
  --team-primary: #E53935;
  --team-secondary: #FFD54F;
}

@layer utilities {
  .font-impact {
    font-family: Impact, sans-serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}